# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Virtual Environment
.venv/
env/
venv/

# Distribution / Build
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Application Specific
response.mp3
*.log

# Windows
Thumbs.db
